{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block sidebar %}{% endblock %}
{% block ccontent %}
<div class="jumbotron">
    <div class="container">
        <h1>SciPub</h1>
        <p>La nouvelle plate-forme de publication pour les scientiques !</p>
        <p>
            <a href="{{ path('app_publish') }}" class="btn btn-lg btn-primary">
                Publier vos travaux &raquo;
            </a>
        </p>
    </div>
</div>

<div class="container">
    <h2>Dernières publications</h2>
    <hr>

    {% for publication in publications %}

    <div class="publication-thumb">
        <h3>{{ publication.title }}</h3>
        <div>
            <p>
                Publié par <strong>{{ publication.author }}</strong>,
                le <em>{{ publication.publishedAt.format('d/m/Y - H:i') }}</em>.
            </p>
            <p>
                {{ publication.description }}
            </p>
            <p>
                <!-- Lien vers le détail de la publication -->
                <a href="{{ path('app_publication', {'idScience':publication.science.id, 'idPublication':publication.id}) }}"
                   class="btn btn-sm btn-default">
                    Lire la publication
                </a>
            </p>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
